@import url('https://fonts.googleapis.com/css?family=Germania+One');

html, body, h1, h2, h3, h4, h5, h6, p, div, nav, aside, section, span, table, ul, li, main {
	margin: 0;
	padding: 0;
}

html {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	font-family: 'Germania One', cursive;
  background-size: 100%;
  background-image: url("https://wallpapercave.com/wp/baUGRjh.jpg") ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h2 {
	font-size: 3em;
}
h4 {
	font-size: 2em;
}
h5 {
	font-size: 1.4em;
}
body {
  background-blend-mode: multiply;
  color: black;
}

.App {
	text-align: center;
	background: rgba(0, 0, 0, 0.25);
	height: 100vh;
	width: 100vw;
	font-family: 'Germania One', cursive;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


.App-header {
  color: #9ADFE2;
  font-size: 6em;
  font-family: 'Germania One', cursive;
  -webkit-text-stroke: 1px #03020f;
  text-stroke: 1px #03020f;
}
@media screen and (max-width: 400px) {
.App-header {
	font-size: 3.5em;
	}
}

.gameplayHeader{
	background-image: url("https://i.pinimg.com/originals/0a/d5/4e/0ad54eba6c4f66c213dfa2ac7ec6ddaf.jpg");
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
  color: cornflowerblue;	
  transform: 0.2s ease;
}

h2 {
  padding: 5px;
}

/***********BOARD************/

.playArea {
	position: relative;
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-columns: 63vw 37vw;
	/*grid-gap: 25px*/
}

.boardWrapper {
	margin: auto;
}
.board {
	height: 78vh;
	width: calc(78vh);
	display: grid;
	grid-template-rows: repeat(8, 9vh) 4vh;
	grid-template-columns: calc(3vh) repeat(8, calc(9vh));
	background: rgba(30, 29, 61, 0.53);
}

.square {
	width: 100%;
	height: 100%;
}

.br {
	border-top-style: solid;
}
@media screen and (max-width: 701px) {
	.board {
		height: 63vh;
		width: calc(63vh);		
	}
  .playArea {
  	grid-template-columns: 1fr;
		grid-template-rows: 63vh 37vh;
	}
	.boardWrapper {
		margin: auto;

	}

	.hudWrapper {
		width: 100vw;
	}
  .hud {
		height: 33vh;
		width: 100%;
  }

}

@media screen and (max-width: 702px) {
	.boardWrapper {
		margin: 0;
	}
	.board {
		height: 68vh;
		width: calc(68vh);
		position: relative;
		left: calc((100vw - 68vh)/2);
		grid-template-columns: calc(4vh) repeat(8, calc(9vh)) ;
		grid-template-rows: repeat(8, 8vh) 4vh;
	}
}

@media screen and (max-width: 500px) {
	.board {
		height: calc(86vw);
		width: 86vw;
		left: 7vw;
		grid-template-columns: 4vw repeat(8, 10vw) ;
		grid-template-rows: repeat(8, calc(10vw)) calc(4vw);
	}
}

.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: rgba(0, 0, 0, 0.75);  
	z-index: 888;	
}
.gameOver {
	z-index: 8888;
	position: fixed;
	left: 25%;
	top: 25%;
	width: 50vw;
	height: 50vh;
	text-align: center;
	display: grid;
	grid-template-rows: 1fr 1fr;
	border: 1px solid #181737;
	background: #99dfe2;
	color: #181737;
	z-index: 9999;
	font-family: inherit;
}

.gameOver h1 {
	align-self: center;
	font-size: 4em;

}

.winner {
	align-self: center;
}

.winner:hover {
    background: #181737;
    color: #99dfe2;
    border: 1px solid #99dfe2;
}

.gameOver .options {
	display: inline-grid;
	/*grid-template-columns: 1fr 1fr;*/
	/*border: 10px solid gold;*/
}

.gameOver .options > button {
	font-family: inherit;
  font-size: 2em;
  background: #181737;
  color: #9adfe2;
  border: 1px solid #9adfe2;
}

.gameOver .options > button:hover {
  background: #9adfe2;
  color: #181737;
  border: 1px solid #181737;
}

.options button a {
  color: #9adfe2;
}

.options button {
  font-family: inherit;
  font-size: 2em;
  background: #181737;
  color: #9adfe2;
}

/*************SQUARES***************/
.square img {
	 width: 100%;
	 height: 100%;
}
.square:nth-child(2n) {
	background-color: rgb(253, 255, 234);
}

.square:nth-child(2n+1) {
	background-color: #93c8ce;
}

.square.active {
	background-color: white;
}

.white {
	color: white;
}

.greyDiv {
 	background-color: grey;
 	position: relative;
 	top: 10%;
 	left: 10%;
 	width: 80%;
 	height: 80%;
 }
 
 .square.attack {
 	background-color: red;
 }

/*ALGEBRA*/
.algebra {
	/*line-height: 3;*/
	color: white;
	/*font-size: 2em;*/
  font-family: 'Germania One', cursive;
  -webkit-text-stroke: 0.5px #03020f;
  text-stroke: 0.5px #03020f;
}

/*****************HUD********************/
h1,h2,h3,h4,h5 {
  padding: 0;
  margin: 0;
}

.hud {
	float: right;
	overflow: hidden;
	background: rgba(30, 29, 61, 0.53);
	color: white;
	font-size: 1.5em;
	font-family: 'Germania One', cursive;
	-webkit-text-stroke: 0.5px #03020f;
	text-stroke: 0.5px #03020f;
	/*padding: 0.5em;*/
}

@media screen and (max-width: 701px) {
	.hud {
		font-size: 1em;
	}
}


.hud-grid {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}

.player {
	text-align: left;
}

.player.blackPlayer {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;  
}

.player.whitePlayer {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;  
}

.voice {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 3;
	padding-bottom: 2em;
}


.voiceCommand {
	color: white;
	background-color: red;
	border-radius: 100%;
	width: 2em;
	height: 2em;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3; 
	margin-top: 20px; 
	font-size: 2em;
	/*grid-row: 1 / 4;*/
}

.hud h4 {
	font-size: 1em;
}


.captured {
	display: inline;
  height: 1em;
}

.voice h4 {
	font-size: 2em;
}

.message {
	height: 1em;
}

.hud.deactivated .voiceCommand {
	background-color: grey;
}

@media screen and (max-width: 701px) {
	.player.blackPlayer {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 2;  
	}

	.player.whitePlayer {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 2;  
	}

	.player img {
		width: 2em;
		height: 2em;
	}
	.voice {
		grid-row-start: 1;
		grid-row-end: 3;
		grid-column-start: 2;
		grid-column-end: 3;  
		padding-bottom: 0;
	}

	.voice h4 {
		font-size: 1em;
}	

	.captured {
		display: -webkit-inline-box;
  	height: 1em;
	}
}


@media (max-width: 701px) {
	.hud{
		width: 100%;
		position: relative;
		top: 4vh;
	}
}

.mainMenu {
	flex-direction: column;
	justify-content: center;
	align-content: center;
	width: 80vw;
	left: 10vw;
	/*display: flex;*/
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column; 
	flex-direction: column;
	-webkit-align-items: stretch;
	align-items: stretch;
	-webkit-justify-content: center;
	justify-content: center;
	position: relative;
	background: rgba(24, 23, 55, 0.85);
	color: #9adfe2;
	font-size: 3em;
}


.mainMenuItem {
	flex: 1 1 auto;
	font-family: 'Germania One', cursive;
  color: #9ADFE2;
  font-size: 1.5em;
  font-family: 'Germania One', cursive;
  -webkit-text-stroke: 2.5px #03020f;
  text-stroke: 2.5px #03020f;
	border: 1px solid rgba(154, 223, 226, 0.4);
}

@media screen and (max-width: 450px) {
	.mainMenuItem {
		font-size: 1em;
		text-stroke: 1px #03020f;
		-webkit-text-stroke: 1px #03020f;
	}
}

.mainMenuItem:hover {
	/*background: rgba(228, 207, 207, 0.21);*/
	/*color: maroon;*/
  transition: 0.2s ease;
  background: rgba(154, 223, 226, 0.80);
  color: #181737;
  -webkit-text-stroke: 2.5px #99dfe2;
  }

.formFlexbox {
	background: rgba(24, 23, 55, 0.8);
	position: absolute;
	top: 20vh;
	left: 10vh;
	width: 80vw;
	margin: 0 auto;
	height: 70vh;
	display: flex;
	flex-direction: column;
	display: block;
	color: white;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	color: #eafcef;
}

.formFlexitem {
	flex: auto;
  /*font-size: 1.5em;*/
  font-family: 'Germania One', cursive;
  -webkit-text-stroke: 0.5px #03020f;
  text-stroke: 0.5px #03020f;
}
input.formFlexitem.formFlexButton {
  background: #181737;
  color: #9adfe2;
  font-size: 3em;
  border: 1px solid #9adfe2;
}
input.formFlexitem.formFlexButton:hover {
	transition: 0.2s ease;
	background: #9adfe2;
	color: #181737;
}

.homeContainer {
	height: 100vh;
	width: 100vw;
	position: fixed;
}

.homeContainerItem {
	flex: auto;
	width: 100vw;
	height: 100%;
	display: block;
}

.homeContainerHeader {
	height: 30vh;
	width: 100vw;
}

.homeContainerMenu {
	height: 70vh;
	width: 100vw;
}

h1.App-header {
  top: 5vh;
  position: relative;
}

h1.App-header:hover {
  transition: 0.2s ease;
  size: 5em;
}

div#root {
  position: relative;
  top: 0;
  left: 0;
}

.rockets {
	  width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
}


.winner.options {
  height: 100%;
  align-content: center;
}