@import url('https://fonts.googleapis.com/css?family=Germania+One');

html, body, h1, h2, h3, h4, h5, h6, p, div, nav, aside, section, span, table, ul, li, main {
	margin: 0;
	padding: 0;
}
html {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	font-family: 'Germania One', cursive;

  background-size: 100%;
  background-image: url("https://wallpapercave.com/wp/baUGRjh.jpg") ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
	
}
body {

  background-blend-mode: multiply;
  color: black;

}

.App {
  text-align: center;
  font-family: "bodoni 72";
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /*background-image: url("https://t3.ftcdn.net/jpg/01/24/77/32/240_F_124773288_bmIx5Y8F1baiBLyGUbVXNt1EzZ6J0SQR.jpg");*/
  /*background: rgba(191, 191, 191, 0.71);*/
  /*background-size: 100% 100%;*/
  /*background-repeat: no-repeat;*/
  /*height: 20vh;*/
  /*width: 100vw;*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  color: #9ADFE2;
  font-size: 6em;
  font-family: 'Germania One', cursive;
  -webkit-text-stroke: 1px #03020f;
  text-stroke: 1px #03020f;

}

.gameplayHeader{
	background-image: url("https://i.pinimg.com/originals/0a/d5/4e/0ad54eba6c4f66c213dfa2ac7ec6ddaf.jpg");
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
  color: cornflowerblue;	
  transform: 0.2s ease;
}

h2 {
  padding: 5px;
}

.homeContainer {
	border: 10px solid black;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
}

/*.homeContainerItem {
	flex: auto;
	border: 5px dashed green;
	width: 100vw;
	height: 100%;
}
*/
.homeContainerHeader {
	border: 4px solid gold;
	flex: 0 1 auto;
}

.homeContainerMenu {
	border: 8px solid purple;
	flex: 1 3 auto;
}
/***********BOARD************/
h1,h2,h3,h4,h5 {
	margin: 5px;
}
.board {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: .1fr repeat(8, 1fr);
	grid-template-columns: .5fr repeat(8, 1fr);
	padding: 10px 5px 0px 0px;
}

.gameContainer h2 {
	text-align: center;
	height: 20px;
}


.gameContainer {
	padding:5px;
}


.br {
	border-top-style: solid;
}



@media (min-width: 501px) {

.playArea{
	display: grid;
	grid-template-columns: 750px 250px;
	grid-gap: 25px
}

.board {
	padding-right: 20px;
	
}

}



/*************SQUARES***************/
.square img {
	 width: 100%;
	 height: 100%;
}
.square:nth-child(2n) {
	background-color: #161e43;
}

.square:nth-child(2n+1) {
	background-color: #93c8ce;
}

.square.active {
	background-color: white;
}

.white {
	color: white;
}

.greyDiv {
 	background-color: grey;
 	position: relative;
 	top: 10%;
 	left: 10%;
 	width: 80%;
 	height: 80%;
 
 }
 
 .square.attack {
 	background-color: red;
 }

/*ALGEBRA*/
.algebra {
	background-color:transparent;
	line-height: 3;
}

/*****************HUD********************/
h1,h2,h3,h4,h5 {
  padding: 0;
  margin: 0;
}



.hud {
	float: right;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
}

.hud-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.hud-left {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.hud-left .turn {
	margin-bottom: 10px;
}
.captured {
	display: inline;
}

.voiceCommand {
	color: white;
	background-color: red;
	border-radius: 100%;
	width: 100px;
	height: 100px;
	margin-top: 20px;
	font-size: 18px;
	grid-row: 1 / 4;
}

.hud.deactivated .voiceCommand {
	background-color: grey;
}

.playerName {
	background-color: black;
	color: white;
}

.hud-left h2 {
	text-align: left;
}

@media (max-width: 500px) {
	.hud{
		width: 100%;
	}
}

.mainMenu {
	flex-direction: column;
	justify-content: center;
	align-content: center;
	display: flex;
	width: 100vw;
}


.mainMenuItem {
	flex: 1 1 auto;
	
	font-family: 'Germania One', cursive;
  font-size: 3em;
  /*color: #03020f;*/
  color: #9ADFE2;
  font-size: 4em;
  font-family: 'Germania One', cursive;
  -webkit-text-stroke: 2.5px #03020f;
  text-stroke: 2.5px #03020f;
	/*background-image: url("https://i.pinimg.com/originals/0a/d5/4e/0ad54eba6c4f66c213dfa2ac7ec6ddaf.jpg");*/

}

.mainMenuItem:hover {
	background: rgba(228, 207, 207, 0.21);
	transition: 0.2s ease;
	color: maroon;
}

.formFlexbox {
	/*background: darkslategrey;*/
	position: absolute;
	/*top: 20vh;*/
	width: 100vw;
	/*height: 80vh;*/
	display: flex;
	flex-direction: column;
	border: 1px solid black;
}

.formFlexitem {
	flex: auto;
  font-size: 1.5em;
  font-family: 'Germania One', cursive;

}
