@import url('https://fonts.googleapis.com/css?family=Germania+One');

html, body, h1, h2, h3, h4, h5, h6, p, div, nav, aside, section, span, table, ul, li, main {
	margin: 0;
	padding: 0;
}

html {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	font-family: 'Germania One', cursive;
  background-size: 100%;
  background-image: url("https://wallpapercave.com/wp/baUGRjh.jpg") ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  background-blend-mode: multiply;
  color: black;
}

.App {
  text-align: center;
  font-family: 'Germania One', cursive;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


.App-header {
  color: #9ADFE2;
  font-size: 6em;
  font-family: 'Germania One', cursive;
  -webkit-text-stroke: 1px #03020f;
  text-stroke: 1px #03020f;
}
@media screen and (max-width: 400px) {
.App-header {
	font-size: 3.5em;
	}
}

.gameplayHeader{
	background-image: url("https://i.pinimg.com/originals/0a/d5/4e/0ad54eba6c4f66c213dfa2ac7ec6ddaf.jpg");
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
  color: cornflowerblue;	
  transform: 0.2s ease;
}

h2 {
  padding: 5px;
}

/***********BOARD************/

.playArea {
	position: relative;
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-columns: 63vw 37vw;
	/*grid-gap: 25px*/
}

@media screen and (max-width: 701px) {
  .playArea {
  	grid-template-columns: 1fr;
  	grid-template-rows: 63vh 37vh;
  }
  .board {
  	height: 63vh;
  }
  .hud {
  	/*top: 63vh;*/
  	height: 37vh;
  	/*width: 100vw;*/
  	/*left: 0;*/
  }

}

.board {
	height: 100%;
	display: grid;
	grid-template-rows: .1fr repeat(8, 1fr);
	grid-template-columns: .5fr repeat(8, 1fr);
	background: rgba(30, 29, 61, 0.53);
}

.boardWrapper {

}



.gameContainer h2 {
	text-align: center;
	height: 20px;
}

.gameContainer {
}

.br {
	border-top-style: solid;
}


@media (min-width: 501px) {
	.playArea{
	}
	.board {
		padding-right: 20px;
	}
}

.gameOver {
	position: fixed;
	left: 25%;
	top: 25%;
	width: 50vw;
	height: 50vh;
	text-align: center;
	display: grid;
	grid-template-rows: 1fr 1fr;
	border: 10px solid black;
	background: grey;
	z-index: 9999;
	font-family: inherit;
}

.gameOver h1 {
	align-self: center;
	font-size: 40px;
}

.gameOver .options {
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
	border: 10px solid gold;
}

.gameOver .options button {
	font-family: inherit;
	font-size: 20px;
}

/*************SQUARES***************/
.square img {
	 width: 100%;
	 height: 100%;
}
.square:nth-child(2n) {
	background-color: rgb(253, 255, 234);
}

.square:nth-child(2n+1) {
	background-color: #93c8ce;
}

.square.active {
	background-color: white;
}

.white {
	color: white;
}

.greyDiv {
 	background-color: grey;
 	position: relative;
 	top: 10%;
 	left: 10%;
 	width: 80%;
 	height: 80%;
 }
 
 .square.attack {
 	background-color: red;
 }

/*ALGEBRA*/
.algebra {
	/*line-height: 3;*/
	color: white;
	/*font-size: 2em;*/
  font-family: 'Germania One', cursive;
  -webkit-text-stroke: 0.5px #03020f;
  text-stroke: 0.5px #03020f;
}

/*****************HUD********************/
h1,h2,h3,h4,h5 {
  padding: 0;
  margin: 0;
}

.hud {
	border: ;
	float: right;
	overflow: hidden;
	background: rgba(30, 29, 61, 0.53);
	color: white;
	font-size: 1.5em;
	font-family: 'Germania One', cursive;
	-webkit-text-stroke: 0.5px #03020f;
	text-stroke: 0.5px #03020f;
	/*padding: 0.5em;*/
}

@media screen and (max-width: 701px) {
	.hud {
		font-size: 1em;
	}
}

.hud-grid {
	display: grid;
	grid-template-columns: 2fr 1fr;
	padding: 0em 1em;
}

.hud-left {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.hud-left .turn {
	margin-bottom: 10px;
}
.captured {
	display: inline;
}

.voiceCommand {
	color: white;
	background-color: red;
	border-radius: 100%;
	width: 2em;
	height: 2em;
	/* margin-top: 20px; */
	font-size: 2em;
	grid-row: 1 / 4;
}

color: white;
background-color: red;
border-radius: 100%;
width: 2em;
height: 2em;
/* margin-top: 20px; 
font-size: 2em;
grid-row: 1 / 4;*/

.hud.deactivated .voiceCommand {
	background-color: grey;
}

.playerName {
	background-color: black;
	color: white;
}

.hud-left h2 {
	text-align: left;
}

@media (max-width: 450px) {
	.hud{
		width: 100%;
	}
}

.mainMenu {
	flex-direction: column;
	justify-content: center;
	align-content: center;
	/*display: flex;*/
	width: 100vw;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column; 
	flex-direction: column;
	-webkit-align-items: stretch;
	align-items: stretch;
	-webkit-justify-content: center;
	justify-content: center;
	height: 100%;
	position: relative;
}


.mainMenuItem {
	flex: 1 1 auto;
	font-family: 'Germania One', cursive;
  color: #9ADFE2;
  font-size: 4em;
  font-family: 'Germania One', cursive;
  -webkit-text-stroke: 2.5px #03020f;
  text-stroke: 2.5px #03020f;
	border: 1px solid #9ADFE2;
}

@media screen and (max-width: 450px) {
	.mainMenuItem {
		font-size: 3em;
		text-stroke: 1px #03020f;
		-webkit-text-stroke: 1px #03020f;
	}
}

.mainMenuItem:hover {
	background: rgba(228, 207, 207, 0.21);
	transition: 0.2s ease;
	color: maroon;
}

.formFlexbox {
	background: rgba(24, 23, 55, 0.35);
	position: absolute;
	top: 20vh;
	left: 0;
	width: 90vw;
	margin: 0 auto;
	height: 70vh;
	margin: 2.5vh 2.5vw;
	padding: 2.5vh 2.5vw;
	display: flex;
	flex-direction: column;
	display: block;
	color: white;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	color: #eafcef;
}

.formFlexitem {
	flex: auto;
  font-size: 1.5em;
  font-family: 'Germania One', cursive;
  -webkit-text-stroke: 0.5px #03020f;
  text-stroke: 0.5px #03020f;
}
input.formFlexitem.formFlexButton {
  background: #181737;
  color: #9adfe2;
  font-size: 3em;
}
input.formFlexitem.formFlexButton:hover {
	transition: 0.2s ease;
	background: #9adfe2;
	color: #181737;
}

.homeContainer {
	height: 100vh;
	width: 100vw;
	position: fixed;
}

.homeContainerItem {
	flex: auto;
	width: 100vw;
	height: 100%;
	display: block;
}

.homeContainerHeader {
	height: 30vh;
	width: 100vw;
}

.homeContainerMenu {
	height: 70vh;
	width: 100vw;
}

h1.App-header {
  top: 5vh;
  position: relative;
}

h1.App-header:hover {
  transition: 0.2s ease;
  size: 5em;
}

div#root {
  position: relative;
  top: 0;
  left: 0;
}

.rockets {
	  width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
}